@charset "UTF-8";

/* Header */

#header, .selected
{
    background-color: var(--green);
}

.iconLink
{
    color: var(--green);
}

.iconLink:hover .fas.icon
{
    color: var(--blue);
}

.iconLink:hover .fas.icon.selected
{
    color: white;
}

/* Home Section */

.textTitle
{
    color: var(--green);
}

/* Contact Section */

.contact
{
    background-color: var(--blue);
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 32px;
    padding: 16px;
}

.contact img
{
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 4px 4px 10px #00000090;
    border: white 4px solid;
    border-radius: 20%;
}

.contact .container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding: 16px;
}

.contact .container .text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.contact .container .text h1
{
    color: white;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.7em;
}

.contact .container .text i
{
    font-size: 0.8em;
}

.contact .container .text h4
{
    color: white;
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
}

.contact .container .icons
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.contact .container .icons .box
{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 15px;
    background-color: var(--blue);
    width: 50px;
    height: 50px;
    transition: all 0.5s;
}

.contact .container .icons .box:hover
{
    transform: translateY(-10px);
    background: white;
    box-shadow:  2px 2px 3px #ededed,
                -2px -2px 3px #ededed;
}

.contact .container .icons .box .link
{
    color: white;
    font-size: 2em;
}

.contact .container .icons .box:hover .link
{
    color: var(--blue);
}

/* Repository Section */

.repository
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: #00000020 2px solid;
    border-bottom: #00000020 2px solid;
    padding: 16px;
}

.repository .text
{
    text-align: center;
    font-size: 1.3em;
    color: var(--blue);
}

.repository .text .link, .repository .text .icon i
{
    color: var(--violet);
    transition: all 0.5s;
}

.repository .text .link:hover
{
    letter-spacing: 2px;
}

.repository .text .icon i:hover
{
    transform: rotateZ(360deg)
}

/* Media Queries */

@media screen and (min-width: 768px)
{
    .contact
    {
        grid-template-columns: repeat(2, 1fr);
    }
    .contact .container .text h1, .contact .container .text h4
    {
        text-align: start;
    }
    .contact .container .icons
    {
        justify-content: flex-start;
    }
    .contact img
    {
        max-width: 280px;
    }
}
