@charset "UTF-8";

/* Header */

#header, .selected
{
    background-color: var(--green);
}

.iconLink
{
    color: var(--green);
}

.iconLink:hover .fas.icon
{
    color: var(--blue);
}

.iconLink:hover .fas.icon.selected
{
    color: white;
}

/* Home Section */

.textTitle
{
    color: var(--green);
}

/* Contact Section */

main .contact
{
    background-color: var(--blue);
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 16px;
}

main .contact img
{
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 4px 4px 10px #00000090;
    border: white 8px solid;
    border-radius: 20%;
}

main .contact .text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

main .contact .text h1
{
    color: white;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.7em;
    padding: 8px;
}

main .contact .text i
{
    font-size: 0.8em;
}

main .contact .text h4
{
    color: white;
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    padding: 8px;
}

@media screen and (min-width: 768px)
{
    main .home, main .contact
    {
        grid-template-columns: repeat(2, 1fr);
    }
    main .home .container h1
    {
        font-size: 3em;
    }
    main .contact .text h1, main .contact .text h4
    {
        text-align: start;
    }
    main .contact img
    {
        max-width: 280px;
    }
}
