@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

:root
{
    --blue: #00B0FF;
    --green: #0ED095;
    --violet: #A362EA;
}

*
{
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

body
{
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
}
