@import url('./default.css');
@import url('./_header.css');
@import url('./_footer.css');

body
{
    background-color: white;
}

header
{
    background-color: var(--blue);
}

header .icon a
{
    color: var(--blue);
}

header .icon a:hover i
{
    color: var(--violet);
}

header .icon a .selected
{
    background-color: var(--blue);
}

main
{
    display: flex;
    flex-direction: column;
}

main .home
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    padding: 16px;
    max-width: 1080px;
    margin: 0 auto;
}

main .home .container
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 32px;
    padding: 16px;
}

main .home .container h1
{
    color: var(--green);
    text-align: center;
    font-size: 2.5em;
}

main .home .container p
{
    font-size: 1.2em;
    letter-spacing: 1px;
    text-align: center;
}

main .home .imgBox
{
    max-width: 580px;
    margin: 0 auto;
}

main .home .imgBox img
{
    width: 100%;
}

main .search
{
    background-image: url(../images/bg-world.jpg);
    background-color: var(--violet);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    gap: 32px;
    padding: 48px 16px;
}

main .search div
{
    background-color: #FFFFFF30;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 20px;
    box-shadow: 4px 4px 6px 2px #00000090;
    gap: 12px;
    flex-grow: 1;
    flex-basis: 280px;
}

main .search div i
{
    background-color: #00000090;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    width: 50px;
    height: 50px;
    padding: 12px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

main .search div a:last-child
{
    align-self: flex-end;
}

main .search div a:last-child i
{
    transition: all 1s;
}

main .search div a:last-child:hover i
{
    transform: rotateZ(360deg);
}

main .search div h3
{
    text-align: center;
    padding: 16px;
}

main .search div h3 a
{
    text-decoration: underline wavy transparent;
    transition: all 0.5s;
}

main .search div h3 a:hover
{
    text-decoration: underline wavy;
}

main .search div:nth-child(1) h3 a, main .search div:nth-child(1) i
{
    color: var(--blue);
}

main .search div:nth-child(2) h3 a, main .search div:nth-child(2) i
{
    color: var(--green);
}

main .search div:nth-child(3) h3 a, main .search div:nth-child(3) i
{
    color: var(--violet);
}

@media screen and (min-width: 768px)
{
    main .home
    {
        grid-template-columns: repeat(2, 1fr);
    }
    main .home .container h1
    {
        font-size: 3em;
    }
}
