@charset "UTF-8";

/* Header */

#header, .selected
{
    background-color: var(--blue);
}

.iconLink
{
    color: var(--blue);
}

.iconLink:hover .fas.icon
{
    color: var(--violet);
}

.iconLink:hover .fas.icon.selected
{
    color: white;
}

/* Home Section */

.textTitle
{
    color: var(--green);
}

/* SearchType Section */

main .searchType
{
    background-image: url(../images/bg-world.jpg);
    background-color: var(--violet);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    gap: 32px;
    padding: 48px 16px;
}

main .searchType div
{
    background-color: #FFFFFF30;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 20px;
    box-shadow: 4px 4px 6px 2px #00000090;
    gap: 12px;
    flex-grow: 1;
    flex-basis: 280px;
}

main .searchType div i
{
    background-color: #00000090;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    width: 50px;
    height: 50px;
    padding: 12px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

main .searchType div a:last-child
{
    align-self: flex-end;
}

main .searchType div a:last-child i
{
    transition: all 1s;
}

main .searchType div a:last-child:hover i
{
    transform: rotateZ(360deg);
}

main .searchType div h3
{
    text-align: center;
    padding: 16px;
}

main .searchType div h3 a
{
    text-decoration: underline wavy transparent;
    transition: all 0.5s;
}

main .searchType div h3 a:hover
{
    text-decoration: underline wavy;
}

main .searchType div:nth-child(1) h3 a, main .searchType div:nth-child(1) i
{
    color: var(--blue);
}

main .searchType div:nth-child(2) h3 a, main .searchType div:nth-child(2) i
{
    color: var(--green);
}

main .searchType div:nth-child(3) h3 a, main .searchType div:nth-child(3) i
{
    color: var(--violet);
}
