@charset "UTF-8";

/* Header */

#header, .selected
{
    background-color: var(--violet);
}

.iconLink
{
    color: var(--violet);
}

.iconLink:hover .fas.icon
{
    color: var(--green);
}

.iconLink:hover .fas.icon.selected
{
    color: white;
}

/* Home Section */

.textTitle
{
    color: var(--blue);
}

/* Results Section */

section.results
{
    border-top: #00000020 2px solid;
    border-bottom: #00000020 2px solid;
}

div.text
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px;
}

h2.region
{
    letter-spacing: 1px;
    text-align: center;
    text-transform: capitalize;
    flex-grow: 2;
    border-radius: 10px;
    border: var(--violet) solid 2px;
    padding: 8px;
}

h2.number
{
    color: var(--violet);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    border-radius: 10px;
    border: var(--violet) solid 2px;
    padding: 8px;
}

div.mapBox
{
    background-color: var(--violet);
    display: flex;
    justify-content: center;
    align-items: center;
    border: #00000020 4px solid;
    padding: 16px;
    margin-bottom: 16px;
}

img.worldMap
{
    background-color: white;
    width: 100%;
    max-width: 768px;
    border-radius: 10px;
    border: #00000020 solid 2px;
    box-shadow: 8px 8px 10px #00000020;
    padding: 16px;
}

h3.link
{
    color: var(--violet);
    text-align: center;
    flex-grow: 1;
    border-radius: 10px;
    border: var(--violet) solid 2px;
    padding: 8px;
}

ul.list
{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 0px 16px;
}

li.item
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    flex-basis: 180px;
    border-radius: 10px;
    border: #00000020 solid 2px;
    gap: 8px;
    padding: 8px;
}

h4.name
{
    text-align: center;
    font-size: 1.2em;
}

a.flag
{
    background-color: var(--green);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    height: 100px;
    width: 100px;
    max-width: 250px;
    border: #00000020 4px solid;
    border-radius: 50%;
    margin: 0 auto;
    transition: all 0.3s ease-in;
}

a.flag:hover
{
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

summary.detailsTitle
{
    color: var(--violet);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: 1.2em;
    border-radius: 10px;
    border: #00000020 2px solid;
    margin-right: auto;
}

h4.detailsItem
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--violet);
    border-radius: 10px;
    border: #00000020 2px solid;
    margin-top: 2px;
    gap: 4px;
}

h4.detailsItem .fas
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--violet);
    width: 30px;
    height: 30px;
    border-right: #00000020 2px solid;
}
