@charset "UTF-8";

/* Header */

#header, .selected
{
    background-color: var(--violet);
}

.iconLink
{
    color: var(--violet);
}

.iconLink:hover .fas.icon
{
    color: var(--green);
}

.iconLink:hover .fas.icon.selected
{
    color: white;
}

/* Home Section */

.textTitle
{
    color: var(--blue);
}
