@charset "UTF-8";

/* Header */

#header, .selected
{
    background-color: var(--violet);
}

.iconLink
{
    color: var(--violet);
}

.iconLink:hover .fas.icon
{
    color: var(--green);
}

.iconLink:hover .fas.icon.selected
{
    color: white;
}

/* Home Section */

.textTitle
{
    color: var(--blue);
}

/* Results Section */

main .results
{
    background-image: url('../images/bg-world.jpg');
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 8px 0px 0px 0px;
}

main .results .container
{
    backdrop-filter: blur(5px) opacity(0.8) brightness(10%);
    -webkit-backdrop-filter: blur(5px) opacity(0.8) brightness(10%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 16px;
    padding: 16px;
}

main .results .container #nationFlag
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 300px;
    flex-grow: 1;
}

main .results .container #nationFlag img
{
    max-height: 180px;
    border-radius: 15px;
    border: white 4px solid;
    box-shadow: 8px 8px 10px #00000040;
}

main .results .container .text
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: stretch;
    gap: 16px;
    flex-basis: 320px;
    flex-grow: 4;
}

main .results .container .text div
{
    background-color: #00000040;
    display: flex;
    justify-content: stretch;
    align-items: center;
    color: white;
    text-align: center;
    padding: 4px;
    gap: 4px;
    border-radius: 15px;
}

main .results .container .text div h5
{
    letter-spacing: 1px;
    font-weight: 400;
    flex-grow: 1;
}

main .results .container .text div i
{
    justify-self: flex-start;
    background-color: #00000090;
    border-radius: 15px;
    padding: 8px;
}

@media screen and (min-width: 768px)
{
    main .results .container #nationFlag img
    {
        max-height: 240px;
    }
    main .results .container .text div
    {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1024px)
{
    main .results .container .text div
    {
        font-size: 1.5em;
    }
}
